# Docs: https://caddyserver.com/docs/caddyfile

fairplay.test:80 {
    # ---- PRODUCTION -----
    # root /var/www/web/dist
    
    #tls robsontenorio@me.com

    #rewrite {
    #   to {path} {path}/ /
    #}

    #gzip
    #ext / .html    

    # ----- DEVELOPMENT ---- 
    proxy / node:3000    
}

api.fairplay.test:80 {
    root /var/www/api/public
    fastcgi / php-fpm:9000 php {
        index index.php
    }

    # To handle .html extensions with laravel change ext to
    # ext / .html

    rewrite {
        to {path} {path}/ /index.php?{query}
    }
    gzip
    browse
    log /var/log/caddy/access.log
    errors /var/log/caddy/error.log
    # Uncomment to enable TLS (HTTPS)
    # Change the first list to listen on port 443 when enabling TLS    
    
    #PROD -> tls robsontenorio@me.com

    # To use Lets encrpt tls with a DNS provider uncomment these
    # lines and change the provider as required
    #tls {
    #  dns cloudflare
    #}
}

laradock1.demo:80 {
    root /var/www/public
    # Create a Webhook in git.
    #git {
	#repo https://github.com/xxx/xxx
    #    path /home/xxx
    #    #interval 60
    #    hook  webhook laradock
    #    hook_type   generic
    #}

}

laradock2.demo:80 {
    # Create a Proxy and cors.
    #proxy domain.com
	#cors
}